@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(0 0 0);
    color: rgb(255 255 255);
    height: 51px;
    font-size: 40px;
    align-items: center;
    display: block;
    padding: 0 30px;
    font-family: "Poppins", sans-serif;  
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 60px;

}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(3, 53, 96);
}

.gameInfo{
    padding: 0 5vw;
    font-family: "Poppins", serif;
    font-weight: 300;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
    margin-top: 30px;
    border-radius: 37px;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.line{
    background-color: red;
    height: 4px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out
}

#reset{
    margin: 0 30px;
    padding: 8px 19px;
    background-color: bisque;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins", serif;
    font-size: 15px;
    font-weight: bolder;
}

@media screen and (max-width: 850px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 40px;
    }
}